@import "../node_modules/normalize.css/normalize.css";
body, div, span {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;
  border: 0 solid black;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #1F1E34;
  color: #FFF;
  font-family: "Avenir Next",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
      Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

p {
  font-size: 24px;
}

a {
  font-weight: 400;
  color: #FFF;
}

a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}

.section {
  height:100%;
  overflow: hidden;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

.link {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
}

.link, .logo {
  position: relative;
  z-index: 9999;
}

.link a {
  padding: 10px;
}

.one,.four{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

.one {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(31,30,52,1));
}

.two,.three{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
}

.iphone-demo {
  display: flex;

  align-self: stretch;
  flex-grow:1;
  flex-basis: 50%;

  flex-direction: column;
  align-items:center;
  justify-content:center;
}

.iphone-content {
  position:absolute;
  top:90px;
  left:25px;
}

.feature-description {
  display: flex;
  align-self: stretch;
  flex-grow:1;
  flex-basis: 50%;

  flex-direction: column;
  align-items:center;
  justify-content:center;
}

#android-robot {
  position:absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, 50%) rotate(-45deg);
}

#slider-control {
  padding: 3px;
  position:fixed;
  top:50%;
  right: 0;
}

#slider-control a {
  padding: 3px;
}

#slider-control .dot {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 8px;
}

#slider-control .active .dot {
  background-color: #fff;
}

/*ScrollMagicTrigger*/
.scrollTrigger {
  min-height: 1px;
}

#animateBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1F1E34;
  opacity:0;
}

#iphone-overlay {
  position: absolute;
  transform: translate(0,-40%);
  width: 100%;
  height: 100%;
}